


<div class="container"> 
     <div class="row">
              
        <div class=" col-md-4 ">
            <div class="bord my-5 w-50 ">
                 
            </div>
            <h2>Trending Movies <br/> To Watch Right Now  </h2>
            <p class="scond-color">Trending Movies To Watch Right Now  </p>
            <div class="bord my-5 w-50 ">
                 
            </div>
        </div>
            <div *ngFor="let mov of movie" class=" col-md-2 my-4 ">  
             
                <div class="movi position-relative">
                    <div [routerLink]="['/moviedetalis',mov.id]">
                        <img [src]="moviee+mov.poster_path" class="w-100">
                        <h3 class="h6 text-center">{{mov.title}}</h3>
                       
                    </div>      
                </div>
          
        </div>
      
     </div>
  

</div>
