.bord
{
    height: 1px;
    background-color: gray;
   
}
.borde
{
    border: 1px solid #E2E2EA;
    padding:5px 10px;
    margin: 5px;
    border-radius:10px ;
}
.Vote
{
    background-color: #000000;
    color: #24baef;
    padding:2px 2px 9px 5px;
    border-bottom-left-radius: 30px;
}
.scond-color
{
    color: #949cb0;
    font-family:'Montserrat Alternates', 
}